body {
    background-color: #e3ffc6;
}


#fondo {
    margin: 30px 0 30px 0;
    width: 1670px;
    padding: 35px 0 35px 0;
    border: solid 3px #000;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 5) 1px 1px 5px 5px;
    background-color: #ffffff;
}

/* comienza el header */
header {
    position: relative;
    height: 200px;
    width: 1600px;
    border-radius: 10px 10px 0 0;
    background-color: #238276;
}

#titulo {
    float: left;
    text-align: left;
    width: 1000px;
    height: 200px;
    margin-top: 0px;
    margin-left: 120px;
    color: #fff;
}

#tit1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 7px 5px 8px rgba(0, 0, 0, 0.6);
    margin: 20px 0 10px 0;
}

#tit2 {
    font-size: 35px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.6);
    color: #9b9b9b;
    margin: 20px 0 10px 0;
    font-weight: 600;
}

#tit3 {
    font-size: 25px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.6);
    color: #9b9b9b;
    margin: 10px 0 10px 0;
    font-weight: 600;
}

#logo {
    float: right;
    margin-right: 120px;
    width: 250px;
    height: 250px;
    background-image: url(../recursos/logo1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* termina el header */

/* nav inicio */
nav {
    position: relative;
    height: 50px;
    width: 1600px;
    /* background-color: #59b548; */
    background: linear-gradient(180deg, #59b548 0%,#59b548,#2d5726 );
}

.botonins {
    float: left;
    height: 33px;
    width: 180px;
    color: #fff;
    text-align: center;
    border-radius: 15px 0 15px 0;
    margin-left: 20px;
    margin-top: 8px;
    padding-top: 2px;
    font-size: 25px;
}

.botonins:hover {
    background-color: #000;
}

/* termina nav */


section {
    position: relative;
    height: 600px;
    width: 1600px;
    align-items: center;
    background-color: #a7a7a7;
}


/* aside logear inicio */
aside {
    float: left;
    border: dashed 2px #000;
    background-color: #f5f5f5c0;
    width: 300px;
    height: 280px;
    margin: 160px 10px 0 15px;
    border-radius: 20px;
    font-size: 20px;
}

#tIngreso {
    color: #238276;
    font-size: 30px;
}

.campo {
    border-radius: 10px;
    border: dashed 2px #238276;
    background-color: #858585bd;
    width: 120px;
    height: 23px;
    font-size: 19px;
    color: #000000;
    padding: 3px 0 3px 10px;
}

.logear {
    border-radius: 10px;
    background-color: #59b548;
    border: none;
    height: 30px;
    width: 80px;
    color: #000;
    font-weight: 600;
    padding-left: 0;
}

.logear:hover {
    border: #238276 2px solid;
    transform: scale(1.1);
    color: #fff;
}

/* termina aside logear */

p{
    font-family: Verdana;
    margin: 3px;
    font-size: 22px;
}

#articleindex {
    float: left;
    background-color: #f5f5f5c0;
    margin-top: 30px;
    height: 540px;
    width: 1250px;
    border: dashed 2px #000;
    border-radius: 20px;
    background-image: url(../recursos/logo4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* institucional inicio */
#artInstitucional {
    float: left;
    margin-left: 150px;
    background-color: #f5f5f5d7;
    margin-top: 30px;
    height: 540px;
    width: 1300px;
    border: dashed 2px #000;
    border-radius: 20px;
}

.divInstitucional {
    float: left;
    margin: 50px 0px 0px 30px;
    height: 200px;
    width: 1270px;
    text-align: left;
}

.titMisionvision {
    margin: 0;
    color: #238276;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium';
}

.textInstitucional {
    margin-top: 20px;
    height: 195px;
    font-size: 22px;
    font-family: Verdana;
}

/* termina institucional */


/* listado */

#listadoAr {
    float: left;
    background-color: #f5f5f5c0;
    margin-top: 30px;
    margin-left: 170px;
    height: 540px;
    width: 1250px;
    border: dashed 2px #000;
    border-radius: 20px;
    overflow: auto;
}

.registroN {
    background-color: #59b548;
    color: #fff;
    border: none;
    margin-top: 2px;
    padding-top: 0;
    border-radius: 20px;
}

.registroN:hover {
    transform: scale(1.2);
}

#titListado {
    color: #238276;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    margin: 5px;
}

#tablaLis {
    border-collapse: collapse;
    width: 1000px;
    background-color: white transparent;

}

#tablaLis th {
    color: #fff;
    background-color: #238276;
}

#tablaLis td {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #3b3b3b;
}

#tablaLis .par {
    background-color: #61e74a;
}

.iconorep{
    width: 20px;
}

/* termina listado */


/* formulario de registro */

#artForm {
    float: left;
    margin-left: 150px;
    background-color: #f5f5f5d7;
    margin-top: 30px;
    height: 540px;
    width: 1300px;
    border: dashed 2px #000;
    border-radius: 20px;
    font-size: 25px;
    overflow: auto;
}

#tForm {
    color: #238276;
    margin: 30px 0 0 0;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.entrada {
    border-radius: 10px;
    border: dashed 2px #238276;
    background-color: #7979799b;
    color: #000;
    font-size: 19px;
    width: 100%;
    height: 25px;
    padding: 3px 0 3px 15px;
}

.rad {
    border: none;
}

textarea{
    resize: none;
}

.enviarBoton {
    background-color: #59b548;
    color: #ffffff;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 25px;
}

.enviarBoton:hover {
    transform: scale(1.1);
}

/* termina formulario de registro */


/* footer inicio */
footer {
    position: relative;
    height: 70px;
    width: 1600px;
    border-radius: 0 0 10px 10px;
    /* background-color: #fc7323; */
    background: linear-gradient(#fc7323 0%,#f79a64,#fc7323 );
}

#tAbajo {
    margin: 0;
    padding: 15px;
    font-size: 20px;
}

.warning{
    color: rgb(201, 15, 15);
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    font-family: Cambria;
}